*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #333;
    display: grid;
    place-items: center;
}

#calculator{
    width: 300px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px -5px 20px #ffffff48 , 5px 5px 25px black;
}

#calculator input{
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 2.5rem;
    padding: 10px;
    text-align: end;
    font-weight: 400;
    letter-spacing: 2px;
}
.keys{
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border-top: 0.5px solid #444;
}
button{
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #222;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: -2px -2px 5px #444 , 2px 2px 5px black, inset 0px 0px 15px #222 ;
}

button:hover{
    background-color: #333;
}
button:active{
    background-color: #111;
    font-size: 1rem;
    box-shadow: inset 1px 1px 5px #222, inset -1px -1px 3px #767676;
}

.operator{
    color: tomato;
}